version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: jtap-inventory
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: jtap@db
      POSTGRES_DB: inventory_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
